
<% include nav%>

    <div class="welcomepage">
      <h4>Welcome</h4><br>
      <p>Nunc eget lorem dolor sed. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Id diam maecenas ultricies mi eget mauris pharetra. Tincidunt ornare massa eget egestas purus. Quis imperdiet massa tincidunt nunc. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Leo in vitae turpis massa. Eu nisl nunc mi ipsum. Et odio pellentesque diam volutpat commodo sed egestas egestas. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. In cursus turpis massa tincidunt dui ut ornare. Neque egestas congue quisque egestas diam. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Eu ultrices vitae auctor eu augue ut lectus arcu.</p>
    </div>
