<%include nav-logged%>

<div class="container search-div">
  <form action="/search" method="post">
    <div class="row">
      <div class="col-8">
        <input class="form-control mr-sm-2" type="search"  name="name" placeholder="Enter the name" aria-label="Search">
      </div>
        <button class="btn btn-md btn-dark" type="submit">Search</button>
    </div>
  </form>
</div>
